html, body{
  font-size: 12px;
}
html, body, .page, .message-container {
   height: 100%;
  flex-direction: column;
  width: 100%;
  margin: auto;
    margin-bottom: : 126px;
}

.message-container, .message-form {
    display: flex;
}
.main-container{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
}
.message-form {
  flex:1;
  max-height:136px;
   background-color: #ee6e73 !important;
  color: white;
  margin-top:-15px;
}

.message-list {
  flex: 1; overflow: auto;
  margin-top:-1px;
}

.message-form .input-field input {
 border-color: #FFFFFF;
}

.chip {
 font-style: italic;
}

.mdi-communication-chat{
  color:white;
}
