<div class="chat">
  <div class="sidebar-holder">
  	<div class="holder">
  		<section class="chat-sidebar">
		    <user-menu></user-menu>
		    <h5 class="channels-title">CHANNELS</h5>
		    <channels></channels>
		    <h5 class="direct-title">DIRECT MESSAGES </h5>
		    <friends-search-box></friends-search-box>
		    <friend-list></friend-list>
	  </section>
  	</div>
  </div>
  <div class="chat-box">
  	<div class="holder">
  		<section class="chat-main" ui-view></section>
  	</div>
  </div>
</div>